{% extends "base.html" %}

{% block content %}

    <div class="block-games" title="Не жди. Испытай удачу!">
        <div class="horizontal">

            <div class="game-icon">
                <div class="font-major">Коэффициенты удачи</div>
            </div>

            <div class="game-icon">
                <div class="font-major align-text-center"><span>Сейфы мечты</span></div>
            </div>

            <div class="game-icon">
                <div class="font-major">Рулетка бога</div>
            </div>

            <div class="game-icon">
                <div class="font-major">Награда Зевса</div>
            </div>

        </div>

    </div>

{% endblock %}

